<div class="container">
  <div class="form">
    <p class="title">Edit This Gif</p>
    <%= form_for(@gif) do |f| %>
      <p class="form_label">Gif Name</p>
      <%= f.text_field :name %>
      <p class="form_label">Gif URL</p>
      <%= f.text_field :url %>
      <p class="form_label"><%= f.check_box :dog %> Check this box if this gif features a dog</p>
      <p class="form_label">Gif Tags:</p>
      <%= f.text_field :keyword1 %>
      <%= f.text_field :keyword2 %>
      <%= f.text_field :keyword3 %>
      <%= f.submit 'Save', :class => "button" %>
      <%= link_to "Delete", gif_path(@gif), {method: :delete, confirm: "Please confirm that you would like to delete this gif.", :class => "button alert" } %>
      <%= link_to 'Back', gif_path(@gif), :class => "button" %> 
    <% end %>
  </div>

</div>
