<div class="container">
  <%= link_to 'Add a New Image or Gif', new_gif_path, class: "button", id: "add_gif" %>
  <div class="row" >
    <div class="small-12 columns" id="gif_index" > 
      <ul class="small-block-grid-2 medium-block-grid-3" >
        <% @gifs.each do |gif| %>
          <li class="index_gif_box" >
          <% name = gif.name %>
          <p class="title"><%= link_to name, gif_path(gif) %></p>
          <%= image_tag(gif.url) %>
          <br>
          <p class="gif_tags" >Tags: <%= gif.keyword1 %> <%= gif.keyword2 %> <%= gif.keyword3 %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>