<div class="container">
  <div class="form">
    <p class="title">Add a New Image or Gif</p>
    <%= form_for(@gif) do |f| %>
      <p class="form_label">Gif Name</p>
      <%= f.text_field :name %>
      <p class="form_label">Gif URL</p>
      <%= f.text_field :url %>
      <p class="form_label"><%= f.check_box :dog %> Check this box if this gif features a dog</p>
      <p class="form_label">Is this a gif or image? <%= f.check_box :is_gif %> Gif 
        <%= f.check_box :is_img %> Image</p>
      <p class="form_label">Gif Tags:</p>
      <%= f.text_field :keyword1 %>
      <%= f.text_field :keyword2 %>
      <%= f.text_field :keyword3 %>
      <%= f.submit 'Add New Gif', :class => "button" %>
    <% end %>
  </div>
</div>
